<div class="page_container">
<h1>All Statuses</h2>
    <div class="col-lg-6 col-md-6">
  <p>
  <%=link_to "Create new status", new_status_path %>
</p>
  <table  class="table table-striped table-hover ">
<thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <%@statuses.each do |status| %>
    <tr>
      <td>
        <%=status.title%>
      </td>
      <td>
        <%=link_to "Edit", edit_status_path(status) %>
        <%=link_to "Show", status_path(status) %>
          <%=link_to "Delete", status_path(status), method: :delete, data: {confirm: "are you sure"} %>
      </td>

    </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
