<div class="col-lg-6 col-md-6">
<% if @ticket.errors.any? %>
<ul>
<% @ticket.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>
<%= form_for @ticket do |f| %>
    <div class="form-group">
<%= f.label :subject %><br/>
<%= f.text_field :subject, class: "form-control" %>
  </div>
    <div class="form-group">
<%= f.label :description %><br/>
<%= f.text_area :description , class: "form-control"%>
  </div>
    <div class="form-group">
  <%= f.submit %>
</div>
<% end %>
<%=link_to "Back to ticket list", tickets_path %>
</div>
