<div class="page_container">
<h1>All tickets</h2>
  <div class="col-lg-6 col-md-6">
  <p>
  <%=link_to "Create new ticket", new_ticket_path %>
</p>
  <table  class="table table-striped table-hover ">
    <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <%@tickets.each do |ticket| %>
    <tr>
      <td>
        <%=ticket.subject%>
      </td>
      <td>
        <%=link_to "Edit", edit_ticket_path(ticket) %>
        <%=link_to "Show", ticket_path(ticket) %>
          <%=link_to "Delete", ticket_path(ticket), method: :delete, data: {confirm: "are you sure"} %>
      </td>

    </tr>
      <% end %>
    </tbody>
  </table>
  <div>
</div>
