<div class="page_container">
  <div class="well well">
      <h2> <%=@ticket.subject%></h2>
      <hr />
      <p>
        Description : <%=@ticket.description%>
      </p>
      <p>
        <%=link_to @ticket.member.email, member_path(@ticket.member)%>
      </p>
      <p>
        <%= form_for(:ticket, :html => {class: "form-horizontal", role: "form"}, url: showticket_for_user_path) do |f| %>
          <% options = options_from_collection_for_select(@users, 'id', 'full_name') %>
          <%= f.select :user_id,  options %>
          <%= f.hidden_field :id, :value => @ticket.id %>
          <%= f.submit "Update User", class: "btn btn-default"%>
        <%end%>
      </p>
      <hr/>
      <%=link_to "Back to ticket list", tickets_path %>
    </div>
</div>
