<div class="page_container">
<h1>Selected Ticket</h1>
<p>
Title : <%=@ticket.subject%>
</p>
<p>
Description : <%=@ticket.description%>
</p>
<p>
  <%=link_to @ticket.member.email, member_path(@ticket.member)%>
</p>
<%=link_to "Edit", edit_ticket_path(@ticket) %> |
<%=link_to "Back to ticket list", tickets_path %>
</div>
