<div class="col-lg-6 col-md-6">
<% if @sla_plan.errors.any? %>
<ul>
<% @sla_plan.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>
<%= form_for @sla_plan do |f| %>
  <div class="form-group">
<%= f.label :title %><br/>
<%= f.text_field :title , class: "form-control"%>
  </div>
    <div class="form-group">
<%= f.label :responsetime %><br/>
<%= f.text_field :responsetime, class: "form-control" %>
  </div>
    <div class="form-group">
  <%= f.submit %>
</div>
<% end %>
<%=link_to "Back to sla_plan list", sla_plans_path %>
</div>
