<div class="page_container">
<h1>All Sla Plans</h2>
  <div class="col-lg-6 col-md-6">
  <p>
  <%=link_to "Create new sla plan", new_sla_plan_path %>
</p>
  <table  class="table table-striped table-hover ">
<thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Response Time
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <%@sla_plans.each do |sla_plan| %>
    <tr>
      <td>
        <%=sla_plan.title%>
      </td>
      <td>
        <%=sla_plan.responsetime%>
      </td>
      <td>
        <%=link_to "Edit", edit_sla_plan_path(sla_plan) %>
        <%=link_to "Show", sla_plan_path(sla_plan) %>
          <%=link_to "Delete", sla_plan_path(sla_plan), method: :delete, data: {confirm: "are you sure"} %>
      </td>

    </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
