<div class="page_container">
  <div class="well">
    <p>
      <%= gravatar_for @member, size: 80%>
    </p>
    <p>
      Email : <%=@member.email%>
    </p>
    <hr/ >
    <%=link_to "Edit", edit_member_path(@member) %> |
    <%=link_to "Back to member list", members_path %>
  </div>
  <%= render 'tickets/ticket', obj: @member.tickets %>

</div>
